.bg-color{
    background-color: rgba(0,151,0,0.7);
    border-bottom: 2px solid rgba(1, 85, 1, 0.7);
    border-top: 2px solid rgba(1, 85, 1, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    .navbar-brand{
        img{
            width: auto;
            height: 100px;
        }
        // button toggler CSS
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                background-color: rgba(0,151,0,0.7);
                border: 3px solid rgb(1, 85, 1);
                border-radius: 20px;
                padding: .2em;
                margin: 0em 1em;
            }
        }
    }
}