<div class="container my-5 justify-content-center">
    <div class="row mt-1 mt-md-5 justify-content-center top-menu">
        <div class="col-6 col-md-2 text-center signin">
            <a class="nav-link" routerLink="/signin" routerLinkActive="">Sign In</a>
        </div>
        <div class="col-6 col-md-2 text-center reg">
            <a class="nav-link" routerLink="/register" routerLinkActive="">Register</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <div class="row regForm">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="col-12 col-md-12 my-2">
                        <input id="name" type="text" placeholder="Name :" class="form-control" formControlName="name" required>
                        <div *ngIf="registerForm.get('name')?.touched">
                            <small *ngIf="registerForm.get('name')?.hasError('required')"> <i class="bi bi-exclamation-triangle-fill"></i> Name is required</small>
                            <small *ngIf="registerForm.get('name')?.hasError('minlength') || registerForm.get('name')?.hasError('maxlength')"> <i class="bi bi-exclamation-triangle-fill"></i> Name should be between 5-25 characters</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 my-2">
                        <input id="contact" type="text" placeholder="Contact No. :" class="form-control" formControlName="contact">
                        <div *ngIf="registerForm.get('contact')?.touched">
                            <small *ngIf="registerForm.get('contact')?.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Contact is required</small>
                            <small *ngIf="registerForm.get('contact')?.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> Please enter a valid contact</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 my-2">                
                        <label class="form-label" for="radio"><b>You are a new :</b></label>
                        <div class="form-check d-flex justify-content-around">
                            <label>
                                <input type="radio" formControlName="type" value="cust" > Customer
                            </label>
                            <label>
                                <input type="radio" formControlName="type" value="supp"> Supplier
                            </label>                    
                        </div>
                        <div *ngIf="registerForm.get('type')?.touched">
                            <small *ngIf="registerForm.get('type')?.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> User type is required</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 my-2">
                        <input id="uname" type="text" placeholder="Username :" class="form-control" formControlName="uname" required>
                        <div *ngIf="registerForm.get('uname')?.touched">
                            <small *ngIf="registerForm.get('uname')?.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Username is required</small>
                            <small *ngIf="registerForm.get('uname')?.hasError('minlength') || registerForm.get('uname')?.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> Username should be between 5-25 characters</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 my-2 d-grid">
                        <input id="pword" type="password" placeholder="Password :" class="form-control" formControlName="pword" required><i class="bi bi-eye" *ngIf="viewPword" (click)="viewPass()"></i><i class="bi bi-eye-slash" *ngIf="!viewPword" (click)="hidePass()"></i>
                        <div *ngIf="registerForm.get('pword')?.touched">
                            <small *ngIf="registerForm.get('pword')?.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Password is required</small>
                            <small *ngIf="registerForm.get('pword')?.hasError('minlength') || registerForm.get('pword')?.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> Password should be between 5-25 characters</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 my-2">
                        <input id="pword1" type="password" placeholder="Retype Passsword :" class="form-control" formControlName="pword1" required><i class="bi bi-eye" *ngIf="viewRPword" (click)="viewRPass()"></i><i class="bi bi-eye-slash" *ngIf="!viewRPword" (click)="hideRPass()"></i>
                        <div *ngIf="registerForm.get('pword1')?.touched">
                            <small *ngIf="registerForm.get('pword1')?.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Retyped password is required</small>
                            <small *ngIf="registerForm.get('pword1')?.hasError('minlength') || registerForm.get('pword1')?.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> Retyped password should be between 5-25 characters</small>
                            <small *ngIf="registerForm.get('pword1')?.value !== registerForm.get('pword')?.value"><i class="bi bi-exclamation-triangle-fill"></i> Retyped password doesn't match password</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 my-3 text-center">
                        <button class="btn btnSubmit" type="submit">Register Now</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

<!-- Response Toast -->
<div class="toast-container">
    <div id="registerResponseToast" class="toast d-flex justify-content-between" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          {{ toastmessage }}
        </div>
      <div class="toast-header">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
</div>

<router-outlet></router-outlet>


<!-- <div class="center">
    
    <form name="register" action="register.php" method="post" autocomplete="off">
        <div class="creds">
        <input type="text" placeholder="Name:" name="name" required onchange="verifyName()">
        </div>
        <div class="creds">
        <input type="tel" placeholder="Contact:" name="contact" pattern="[0-9]{10}" required onchange="verifyContact()">
        </div>
        <div class="radio">
        <input type="radio" name="user" value="cust" required>Customer
        &nbsp;
        <input type="radio" name="user" value="supp" required>Supplier
        </div>
        <div class="creds">
        <input type="text" placeholder="Username:" name="uname" required onchange="verifyUname()">
        </div>
        <div class="creds">
        <input type="password" placeholder="Password:" name="pass" required onchange="verifyPass()">
        </div>
        <div class="creds">
        <input type="password" placeholder="Re-Enter Password:" name="pass1" required onchange="verifyPassword()">
        </div>
        <input type="Submit" value="Register" id="submit">
    </form>
</div> -->