/* You can add global styles to this file, and also import other style files */

// Bootstrap CSS link
@import "bootstrap/scss/bootstrap";
// Bootstrap icons link
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

// Font family - Poppins
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;400&family=Poppins&display=swap');

body{
    min-height: 100vh;
    background: linear-gradient(160deg, #D3D3D3, #D3D3D3, #848884);
    font-family: 'Poppins';
}

::-webkit-scrollbar{
    width: 1px !important;
}